<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageOrganizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ImageOrganizer.Properties.Settings>
            <setting name="PATH_PC_TARGET_DIR" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="PATH_PHONE_TARGET_DIR" serializeAs="String">
                <value>sdcard/</value>
            </setting>
            <setting name="PATH_IMAGE_SAVING_DIR" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="PATH_BACKUP_DIR" serializeAs="String">
                <value>C:\\Backup</value>
            </setting>
        </ImageOrganizer.Properties.Settings>
    </userSettings>
</configuration>